<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>



<!-- Überschrift -->
<div class="profile-header">
    <h2>Login</h2>
</div>

<!-- Login-Formular -->
<form th:action="@{/auth/login}" method="post" class="field login-card">

    <div class="field">
        <span class="form-label">Benutzername:</span>
        <input class="form-input" type="text" name="userName" required />
    </div>

    <div class="field">
        <span class="form-label">Passwort:</span>
        <input class="form-input" type="password" name="password" required />
    </div>

    <div class="field">
        <button type="submit">Anmelden</button>
    </div>
</form>


<!-- Link zur Registrierung -->
<div class="form-register">
    <span>Noch keinen Account? </span>
    <a th:href="@{/register}">Jetzt registrieren</a>
</div>

</body>
</html>
