<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrieren</title>

  <!-- Gleiches CSS wie bei profile.html -->
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>



<!-- Überschrift -->
<div class="login-header">
  <h2>Registrieren</h2>
</div>

<!-- Registrierungs-Formular -->
<form th:action="@{/auth/register}" method="post" class="form field">

  <div class="field">
    <span class="form-label">Benutzername:</span>
    <input class="form-input" type="text" name="userName" required />
  </div>

  <div class="field">
    <span class="form-label">Name:</span>
    <input class="form-input" type="text" name="fullName" required />
  </div>

  <div class="field">
    <span class="form-label">E-Mail:</span>
    <input class="form-input" type="email" name="email" required />
  </div>

  <div class="field">
    <span class="form-label">Ort:</span>
    <input class="form-input" type="text" name="location" required />
  </div>

  <div class="field">
    <span class="form-label">Bio:</span>
    <input class="form-input" type="text" name="bio" required />
  </div>

  <div class="field">
    <span class="form-label">Passwort:</span>
    <input class="form-input" type="password" name="password" minlength="8" required />
  </div>

  <div class="field">
    <span class="form-label">Passwort wiederholen:</span>
    <input class="form-input" type="password" name="confirm" minlength="8" required />
  </div>

  <div class="field">
    <button type="submit">Account anlegen</button>
  </div>

</form>

<!-- Link zurück zum Login -->
<div class="form-register">
  <span>Bereits registriert? </span>
  <a th:href="@{/login}">Zum Login</a>
</div>

</body>
</html>
